In [1]:
print("Hi My Name is Fiziya")

Hi My Name is Fiziya

#### Variables in Python

In [2]:
favorite_Color = "Green"

In [4]:
favorite_Color

'Green'

In [5]:
favorite_Color="Black"

In [6]:
favorite_Color

'Black'

# Data Types in Python

In [12]:
# Integers
age = 10
number_of_toys = 25

# Floating-Point Numbers
pi = 3.14
temperature = 25.5

# Boolean
is_sunny = True
is_raining = False

# String
name = "Alice"
favorite_color = "blue"
greeting = "Hello, how are you?"

# complex
complex_number=3+4j

In [20]:
a=10
a

int

In [9]:
type(a)

In [21]:
a=5.933
a

float

In [10]:
type(a)

In [23]:
a=False
a

float

In [11]:
a=False
a

In [24]:
a=" My name is Fiziya"
a

str

In [13]:
a=2+7j
a

In [25]:
type(a)

str

In [14]:
### Operators in Python

In [26]:
#### Arithmetic Operators:
Arithmetic operators are used to perform basic mathematical operations.

bool

In [18]:
a = 10
b = 5
a,b

In [14]:
a+b

NameError: name 'a' is not defined

In [15]:
a-b

NameError: name 'a' is not defined

In [16]:
a*b

NameError: name 'a' is not defined

In [17]:
a/b

NameError: name 'a' is not defined

In [ ]:
a%b  # Modulus (returns the remainder of the division)

# Relational Operators:
    Relational operators are used to compare values and return True or False.

In [21]:
a = 100
b = 50

a,b

(100, 50)

In [22]:
# Equal to
a == b

False

In [23]:
# Not equal to
a != b

True

In [24]:
# Greater than
a > b

True

In [25]:
# Less than
a < b

False

In [26]:
# Greater than or equal to
a >= b

True

In [27]:
# Less than or equal to
a <= b

False


# Logical Operators
Logical operators are used to combine multiple conditions and return True or False.

In [29]:
x = True
y = False

In [30]:
# Logical AND (both conditions must be True for the result to be True)
x and y

False

In [31]:
x & y

False

In [32]:
# Logical OR (at least one condition must be True for the result to be True)
x or y

True

In [33]:
x| y

True

In [34]:
# Logical NOT (inverts the result)
not x

False

# Assignment Operators:
Assignment operators are used to assign values to variables.

In [35]:
a = 10  # Simple assignment
a

10

In [36]:
# Addition assignment (same as a = a + 5)
a += 5 
a

15

In [37]:
# Subtraction assignment (same as a = a - 3)
a -= 3 
a

12

In [38]:
# Multiplication assignment (same as a = a * 2)
a *= 2 
a

24

In [39]:
# Division assignment (same as a = a / 4)
a /= 4 
a

6.0

# Python Tokens

In Python, a token is the smallest unit or building block of a program. It could be a keyword, identifier, operator, literal value, or any other meaningful part of the code. Tokens are essential for the Python interpreter to understand and parse the code correctly.

# Keywords
Keywords are reserved words in Python, and they have a specific meaning in the language. They cannot be used as variable names because Python treats them as special tokens.

In [40]:
True

True

In [41]:
def

SyntaxError: invalid syntax (1102136943.py, line 1)

In [42]:
True="a"

SyntaxError: cannot assign to True (1946322174.py, line 1)

In [ ]:
# Here, "if" and "else" are keywords.
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

# Identifiers
Identifiers are names given to variables, functions, classes, or other objects in Python. They help us refer to specific parts of the code.

In [43]:
# "count" and "result" are identifiers.
count = 10
result = count * 2

In [44]:
Count=2

In [45]:
count

10

In [46]:
Count

2

# Literals
Literals are constant values that appear directly in the code. They can be numbers, strings, or Boolean values.

In [47]:
number_of_students = 5

In [48]:
pi = 3.14

In [49]:
greeting = 'Hello'

In [50]:
is_raining = True

In [51]:
# "5" and "3.14" are numeric literals, and "'Hello'" is a string literal.

# Python String

# Creating a string:

In [68]:
# Using single quotes

name = 'Fiziya'


name

'Fiziya'

# Using double quotes

message = "Hello, how are you?"

message

# Using triple quotes for multi-line strings

multiline_string = '''

This is a multi-line
string in Python.
It can span across multiple lines.

'''

multiline_string

#                Extracting Individual Characters

# String Functions
Strings have several built-in methods that allow you to perform various operations on them.

In [71]:
message = "Hello, how are you?"

In [72]:
len(message)

19

In [73]:
message.upper()

'HELLO, HOW ARE YOU?'

In [74]:
message.lower()

'hello, how are you?'

In [75]:
message.replace('H','z')

'zello, how are you?'

In [76]:
str1= "Hello Hello world"

In [77]:
str1.count("Hello")

2

In [78]:
str1.find("wprld")

12

#    # Splitting the string into a list of words

    message.split()